.height-full{height: 100vh;}

.no-padding{padding: 0 !important}
.no-margin{margin: 0 !important}
.pr-30{padding-right: 30px !important;}

.italic{font-style: italic}

.btn-submit{position: absolute !important; right: -4px; top: 1px; border-radius: 0 !important; }
.btn-remove{position: absolute !important; right: -4px; top: 0px; bottom: 0; border-radius: 0 !important; padding: 10px !important}

.pointer{cursor: pointer;}
.ic-edit{font-size: 9px !important; margin-left: 5px !important;}